.brand-name{
  white-space: nowrap;
  display: inline-block;
}

.red-btn {
  width: calc(100% - 8px);
  background: var(--second-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-size: var(--fs-body);
  font-weight: 600;
  padding: 10px;
  margin-top: 8px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 1;
}

.red-btn:hover {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--second-color);
  transform: scale(1.03) translateY(-2px);
}

.red-btn:disabled {
  border: 2px solid #ADB5BD;
  background: #e9ecef !important;
  color: #adb5bd !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  transform: none !important;
}

.all-wrapper {
  position: relative;
  overflow: hidden;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-bottom: -40px;
  min-height: calc(100vh - 55px);
}
.all-wrapper::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('/img/auth-back.png') no-repeat center / cover;
  opacity: 0.4;
  z-index: -1;
}