.home {
  color: black;
  text-align: center;
}

/* Slider */
.home .slider{
  width: calc(100% + 80px);
  overflow: hidden;
  aspect-ratio: 3/1;
  padding: 40px;
  margin: 0 -40px;
  background: url('/img/slider1.jpg') no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  text-align: center;
  position: relative;
}

.cursor-slide {
  font-weight: 200;
  color: var(--primary-color);
  margin-left: 3px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.home .slider h2 {
  min-height: 1.5em; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: var(--primary-color);
  font-size: var(--fs-h1);
  flex-wrap: wrap;
}


.home .slider p{
  color: rgba(0,0,0,0.7);
  font-size: var(--fs-body);
}

@media (max-width: 768px) {
  .home .slider{
    aspect-ratio: auto;
    min-height: 280px;
  }
  .home .slider h2 {
    font-size: var(--fs-h1); 
    line-height: 1.2;
    margin-bottom: 10px;
    
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .home .slider p {
    font-size: var(--fs-body);
  }
}

@keyframes slider-wave {
    0% {
    transform: translateX(100%);
    }
    25% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(100%);
    }
}

.home .slider::before,
.home .slider::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -70px;
    width: 150%;
    height: 100px;
    background: rgba(255, 109, 109, 0.261);
    border-radius: 1000% 1000% 0 0;
    z-index: 1;
    pointer-events: none;
}

.home .slider::before {
    animation: slider-wave 9s ease-in-out infinite alternate;
}

.home .slider::after {
    animation: slider-wave 8s ease-in-out infinite alternate-reverse;
    opacity: 0.5;
    bottom: -60px;
}

/* CARDS */
.home .card-grid {
  margin: 0 -40px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  background-color: var(--second-color);
}

@media (min-width: 768px) {
  .home .card-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 1200px){
  .home .card-grid{
    grid-template-columns: repeat(4,1fr);
  }
}

.home .card {
  display: flex;
  align-items: center;
  background: var(--second-color);
  border-radius: 16px;
  padding: 20px;
  border: 2px solid var(--primary-color) ;
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.08);
  transition: 0.2s;
}

.home .card:hover {
  transform: translateY(-4px) scale(1.02);
}

.home .card .fa-solid{
  font-size: var(--fs-h2);
  text-align: center;
  color: var(--primary-color);
}

.home .card .card-content{
  padding: 0 10px;
  flex: 1;
}

.home .card .card-content h3{
  color: var(--primary-color);
  font-size: var(--fs-body);
}

.home .card .card-content p{
  font-size: var(--fs-small);
  color: rgba(0,0,0,0.7);
  font-style: italic;
}